


<div class="row">
  <div class="col-sm-6">
    <h1>Comments</h1>
  </div>

<% @comments.each do |comment| %>
  <div class='comment'>
    <%= comment.content %>
    <em class='meta'>
      <%= comment.user.name %> |
      <%= comment.created_at %> |
      <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
    </em>
  </div>
<% end %>

<%= render 'form', comment: Comment.new %>
