<div id="<%= dom_id article %>">
  <h1 class="fw-bolder mb-1"><%= article.title %></h1>
  <div class="text-muted fst-italic mb-2">Posted on <%= article.created_at.strftime("%B %d, %Y")%> by <%= article.user.name%></div>
  <section>
    <%= article.body%>
  </section>

</div>
