<%= turbo_stream_from :article %>
<%= turbo_frame_tag "remote_modal" %>

<main class="mb-4">
   <%= render @article %>
  <% if can? :manage, @article %>
  <%= render partial: "show_actions"%>
  <% end %>
</main>
<h4>Comments</h4>
<%= turbo_stream_from @article, :comments %>
<%= content_tag :div, id: "#{dom_id(@article)}_comments" do %>
<%= render @article.comments %>
<% end %>
<% if can? :create, Comment %> 
<%= render 'comments/form', comment: Comment.new %>
<% end %>