<%= turbo_stream_from :article %>
<main class="mb-4">
   <%= render @article %>
  <% if current_user %>
  <%= render partial: "show_actions"%>
  <% end %>
</main>
<h4>Comments</h4>
<%= turbo_stream_from @article, :comments %>
<%= content_tag :div, id: "#{dom_id(@article)}_comments" do %>
<%= render @article.comments %>
<% end %>
<%= render 'comments/form', comment: Comment.new %>